@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

// Variables

$color-bg: #222831;
$color-danger: #FF6464;
$color-primary: #4ECCA3;
$color-text: #C4C4C4;
$color-search: #FF7F50;
$color-gray: #62625F;

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}